
.header{
background-color: aqua; 
display:flex;
justify-content: space-between; 
}
h1{
color:purple
}
.grid{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly    
}
p{
text-align:center    
}
.footer{
display:flex;
justify-content: flex-end    
}
.self{
color:darkviolet    
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
